@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model=@person OnSubmit="@FormSubmitted">

    <InputText @bind-Value="person.FirstName"></InputText>
    <InputText @bind-Value="person.LastName"></InputText>

    <input type="submit" value="Submit" class="btn btn-primary" />
</EditForm>


<SurveyPrompt Title="How is Blazor working for you?" />




@code
{

    public class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    Person person = new Person() { 
        FirstName = "Be", 
        LastName = "Ya" 
    };

    void FormSubmitted()
    {
        person.FirstName = "Form submitted";
        // Post data to the server, etc
    }
}